* {
    background-color: rgb(233, 105, 46);
    color: aliceblue;
}

.form-box {
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    gap: 15px;
}

.form-box-style {
    border: 2px solid black;
    border-radius: 4px;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

input {
    width: 500px;
    border: 2px solid black;
    border-radius: 4px;
}

.btnSubmit {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #e45b5b;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.mi-botón:hover {
    background-color: #ac0000;
}

.mi-botón:focus {
    outline: none;
}

/* ----- Cards ------- */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.card {
    width: 36rem;
}

/* ----- Header ------- */

header {
    padding-top: 30px;
    height: 150px;
}

.header-format {
    display: flex;
    display: flex;
    justify-content: space-around;
}

/* ----- Footer ------- */

.show-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.center-position {
    justify-content: center;
}

.ul-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style: none;

}

/* ----- Index ------- */

.section-position{
    display: flex;
}

.photo-container {
    position: relative;
}

.image {
    position: absolute;
}

.img-1 {
    top: 0;
    right: 0;
    width: 36rem;
}

.img-2 {
    top: 20px;
    /* Ajusta la distancia vertical entre las imágenes */
    right: 0;
    width: 36rem;
}