body {
    background-image: linear-gradient(to right top, #1f0001, #2b0605, #390707, #470607, #550505);
    color: aliceblue;
}

.form-box {
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    gap: 15px;
}

.form-box-style {
    border: 2px solid black;
    border-radius: 4px;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

input {
    width: 500px;
    border: 2px solid black;
    border-radius: 4px;
}

.btnSubmit {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #e45b5b;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.mi-botón:hover {
    width: 173px;
    height: 58px;
    flex-shrink: 0;
}

.mi-botón:focus {
    outline: none;
}

/* ----- Cards ------- */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.card {
    width: 36rem;
}

/* ----- Header ------- */

header {
    padding-top: 30px;
    height: 100px;
}

.header-format {
    display: flex;
    justify-content: space-around;
}

/* ----- Footer ------- */

.show-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.center-position {
    justify-content: center;
}

.ul-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
}

.btn1 {
    background: #ffffff;
    border-radius: 15px;
    width: 173px;
    font: 700 16px "Poppins", sans-serif;
    height: 58px;
    position: relative;
}

.btn2 {
    background-color: transparent;
    color: #FFFFFF;
    font: 700 16px "Poppins", sans-serif;
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    width: 276px;
    height: 58px;
    position: relative;
}

.btn2:hover {
    background: #FFFFFF;
    color: #000000;
}

/* ----- Index ------- */

main {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.photo-container {
    position: relative;
    float: right;
    margin-left: 50px;
}

.img-1 {
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #1f0001;
    border-image-slice: 1;
    width: 500px;
    height: 320px;
    position: absolute;
    z-index: 1;
    right: 200px;
    top: 200px;
    object-fit: cover;
}

.img-2 {
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #1f0001;
    border-image-slice: 1;
    width: 500px;
    height: 320px;
    position: relative;
}

.section-position {
    color: #ffffff;
    text-align: left;
    font: 600 30px "Poppins", sans-serif;
    position: relative;
}

.ver {
    background: transparent;
    color: #FFFFFF;
    border-radius: 15px;
    border-style: solid;
    border-color: #baadad;
    width: 173px;
    height: 58px;
    position: relative;
    font: 600 20px "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ver:hover {
    background: #FFFFFF;
    color: #000000;
}

.publicar {
    background: #FFFFFF;
    color: #130000;
    border-radius: 15px;
    width: 250px;
    height: 58px;
    position: relative;
    margin-right: 25px;
    font: 600 20px "Poppins", sans-serif;
}