body {
    background-image: linear-gradient(to right top, #1f0001, #2b0605, #390707, #470607, #550505);
    color: aliceblue;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
}

.form-box-style {
    background-color: #FFFFFF;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 8px;
    padding: 50px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

input {
    width: 500px;
    border: 2px solid black;
    border-radius: 4px;
}

.btnSubmit {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #e45b5b;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.mi-botón:hover {
    width: 173px;
    height: 58px;
    flex-shrink: 0;
}

.mi-botón:focus {
    outline: none;
}

/* ----- Cards ------- */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 400px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.card {
    width: 300px;
    height: 300px;
}

.listado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listadover {
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
}

/* ----- Header ------- */

header {
    padding-top: 30px;
    height: 100px;
}

.header-format {
    display: flex;
    justify-content: space-around;
}

/* ----- Footer ------- */

.show-footer {
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 500px;
}

.center-position {
    justify-content: center;
}

.ul-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
}

.btn1 {
    background: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    width: 173px;
    font: 700 16px "Poppins", sans-serif;
    height: 58px;
    position: relative;

}

.btn2 {
    color: #000000;
    font: 700 16px "Poppins", sans-serif;
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    width: 276px;
    height: 58px;
    position: relative;
}

.btn1:hover {
    background: #FFFFFF;
    color: #000000;
    transform: scale(1.05);
}

/* ----- Index ------- */

main {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.photo-container {
    position: relative;
    float: right;
    margin-left: 50px;
}

.img-1 {
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #1f0001;
    border-image-slice: 1;
    width: 500px;
    height: 320px;
    position: absolute;
    z-index: 1;
    right: 200px;
    top: 200px;
    object-fit: cover;
    animation: slideInRight 1s ease-in-out;
}

.img-2 {
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #1f0001;
    border-image-slice: 1;
    width: 500px;
    height: 320px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.section-position {
    color: #ffffff;
    text-align: left;
    font: 100 24px "Poppins", sans-serif;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.section-position h3 {
    font: 600 34px "Poppins", sans-serif;
}

.ver {
    background: transparent;
    color: #FFFFFF;
    border-radius: 15px;
    border-style: solid;
    border-color: #baadad;
    width: 173px;
    height: 58px;
    position: relative;
    font: 600 20px "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeIn 1s ease-in-out; 
}

.ver:hover {
    background: #FFFFFF;
    color: #000000;
    transform: scale(1.05);
}

.publicar {
    background: #FFFFFF;
    color: #130000;
    border-radius: 15px;
    width: 250px;
    height: 58px;
    position: relative;
    margin-right: 25px;
    font: 600 20px "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

/* Animación fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-login {
    display: flex;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    margin-top: -350px;
    margin-left: 260px;
    animation: slideIn 1s ease-in-out;
}

.registration {
    color: #FFFFFF;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.reputation {
    margin-right: 250px;
    margin-top: 50px;
    color: #FFFFFF;
    animation: fadeIn 1s ease-in-out;
}

.reputation h3 {
    font-weight: bold;
}

.reputation p {
    font-weight: normal;
}

.reputation p::before {
    content: "★★★★ ";
    color: yellow;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}